<mat-toolbar class="toolbar mat-elevation-z4">
  <a routerLink="/">
    <img src="assets/img/logo.svg" alt="logo" class="logo"/>
    <div class="tilte-group">
        <i class="material-icons"><th>theaters</th></i>
        <h1>Films Blogs</h1>
    </div>
      <nav>
          <!-- mobile-->
          <button class="mat-button" mat-icon-button [matMenuTriggerFor]="afterMenu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu class="mat-menu-content disable" #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>
              <a routerLink="/" class="link"></a>
              <mat-icon class="mat-menu-description">home</mat-icon>
              <span class="mat-menu-description">Home</span>
            </button>
            <button mat-menu-item (click)="about()">
              <a routerLink="/" class="link"></a>
              <mat-icon class="mat-menu-description">import_contacts</mat-icon>
              <span class="mat-menu-description">About the author</span>
            </button>
          </mat-menu>
          <!-- desktop-->

      </nav>
  </a>
  <ul class="list">
    <li>
      <a class="link-item" title="Home" routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a class="link-item" title="about the author" (click)="about()">
        <mat-icon>import_contacts</mat-icon>
        <span>About the author</span>
      </a>
    </li>
  </ul>
</mat-toolbar>
